In [1]:
! pip install sentence-transformers

Requirement already satisfied: sentence-transformers in c:\python311\lib\site-packages (3.0.1)
Requirement already satisfied: transformers<5.0.0,>=4.34.0 in c:\python311\lib\site-packages (from sentence-transformers) (4.42.4)
Requirement already satisfied: tqdm in c:\python311\lib\site-packages (from sentence-transformers) (4.66.1)
Requirement already satisfied: torch>=1.11.0 in c:\python311\lib\site-packages (from sentence-transformers) (2.3.1)
Requirement already satisfied: numpy in c:\python311\lib\site-packages (from sentence-transformers) (1.25.0)
Requirement already satisfied: scikit-learn in c:\python311\lib\site-packages (from sentence-transformers) (1.5.1)
Requirement already satisfied: scipy in c:\python311\lib\site-packages (from sentence-transformers) (1.11.2)
Requirement already satisfied: huggingface-hub>=0.15.1 in c:\python311\lib\site-packages (from sentence-transformers) (0.24.1)
Requirement already satisfied: Pillow in c:\python311\lib\site-packages (from sentence-transformers) (9.5.0)
Requirement already satisfied: filelock in c:\python311\lib\site-packages (from huggingface-hub>=0.15.1->sentence-transformers) (3.12.2)
Requirement already satisfied: fsspec>=2023.5.0 in c:\python311\lib\site-packages (from huggingface-hub>=0.15.1->sentence-transformers) (2024.6.1)
Requirement already satisfied: packaging>=20.9 in c:\python311\lib\site-packages (from huggingface-hub>=0.15.1->sentence-transformers) (23.1)
Requirement already satisfied: pyyaml>=5.1 in c:\python311\lib\site-packages (from huggingface-hub>=0.15.1->sentence-transformers) (6.0.1)
Requirement already satisfied: requests in c:\python311\lib\site-packages (from huggingface-hub>=0.15.1->sentence-transformers) (2.31.0)
Requirement already satisfied: typing-extensions>=3.7.4.3 in c:\python311\lib\site-packages (from huggingface-hub>=0.15.1->sentence-transformers) (4.12.2)
Requirement already satisfied: sympy in c:\python311\lib\site-packages (from torch>=1.11.0->sentence-transformers) (1.13.1)
Requirement already satisfied: networkx in c:\python311\lib\site-packages (from torch>=1.11.0->sentence-transformers) (3.3)
Requirement already satisfied: jinja2 in c:\python311\lib\site-packages (from torch>=1.11.0->sentence-transformers) (3.1.2)
Requirement already satisfied: mkl<=2021.4.0,>=2021.1.1 in c:\python311\lib\site-packages (from torch>=1.11.0->sentence-transformers) (2021.4.0)
Requirement already satisfied: colorama in c:\users\jaisy\appdata\roaming\python\python311\site-packages (from tqdm->sentence-transformers) (0.4.6)
Requirement already satisfied: regex!=2019.12.17 in c:\python311\lib\site-packages (from transformers<5.0.0,>=4.34.0->sentence-transformers) (2023.10.3)
Requirement already satisfied: safetensors>=0.4.1 in c:\python311\lib\site-packages (from transformers<5.0.0,>=4.34.0->sentence-transformers) (0.4.3)
Requirement already satisfied: tokenizers<0.20,>=0.19 in c:\python311\lib\site-packages (from transformers<5.0.0,>=4.34.0->sentence-transformers) (0.19.1)
Requirement already satisfied: joblib>=1.2.0 in c:\python311\lib\site-packages (from scikit-learn->sentence-transformers) (1.3.2)
Requirement already satisfied: threadpoolctl>=3.1.0 in c:\python311\lib\site-packages (from scikit-learn->sentence-transformers) (3.2.0)
Requirement already satisfied: intel-openmp==2021.* in c:\python311\lib\site-packages (from mkl<=2021.4.0,>=2021.1.1->torch>=1.11.0->sentence-transformers) (2021.4.0)
Requirement already satisfied: tbb==2021.* in c:\python311\lib\site-packages (from mkl<=2021.4.0,>=2021.1.1->torch>=1.11.0->sentence-transformers) (2021.13.0)
Requirement already satisfied: MarkupSafe>=2.0 in c:\python311\lib\site-packages (from jinja2->torch>=1.11.0->sentence-transformers) (2.1.3)
Requirement already satisfied: charset-normalizer<4,>=2 in c:\python311\lib\site-packages (from requests->huggingface-hub>=0.15.1->sentence-transformers) (3.3.2)
Requirement already satisfied: idna<4,>=2.5 in c:\python311\lib\site-packages (from requests->huggingface-hub>=0.15.1->sentence-transformers) (3.6)
Requirement already satisfied: urllib3<3,>=1.21.1 in c:\python311\lib\site-packages (from requests->huggingface-hub>=0.15.1->sentence-transformers) (1.26.16)
Requirement already satisfied: certifi>=2017.4.17 in c:\python311\lib\site-packages (from requests->huggingface-hub>=0.15.1->sentence-transformers) (2023.11.17)
Requirement already satisfied: mpmath<1.4,>=1.1.0 in c:\python311\lib\site-packages (from sympy->torch>=1.11.0->sentence-transformers) (1.3.0)

In [2]:
!pip install imbalanced-learn

Requirement already satisfied: imbalanced-learn in c:\python311\lib\site-packages (0.11.0)
Requirement already satisfied: numpy>=1.17.3 in c:\python311\lib\site-packages (from imbalanced-learn) (1.25.0)
Requirement already satisfied: scipy>=1.5.0 in c:\python311\lib\site-packages (from imbalanced-learn) (1.11.2)
Requirement already satisfied: scikit-learn>=1.0.2 in c:\python311\lib\site-packages (from imbalanced-learn) (1.5.1)
Requirement already satisfied: joblib>=1.1.1 in c:\python311\lib\site-packages (from imbalanced-learn) (1.3.2)
Requirement already satisfied: threadpoolctl>=2.0.0 in c:\python311\lib\site-packages (from imbalanced-learn) (3.2.0)

In [3]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import seaborn as sns

import string
import nltk
from nltk.corpus import stopwords
from nltk.tokenize import word_tokenize
from nltk.stem import WordNetLemmatizer

from sklearn.pipeline import Pipeline
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import RandomizedSearchCV, train_test_split
from sentence_transformers import SentenceTransformer, util
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.metrics import accuracy_score, precision_score, recall_score, f1_score

c:\Python311\Lib\site-packages\sentence_transformers\cross_encoder\CrossEncoder.py:11: TqdmWarning: IProgress not found. Please update jupyter and ipywidgets. See https://ipywidgets.readthedocs.io/en/stable/user_install.html
  from tqdm.autonotebook import tqdm, trange

WARNING:tensorflow:From c:\Python311\Lib\site-packages\tf_keras\src\losses.py:2976: The name tf.losses.sparse_softmax_cross_entropy is deprecated. Please use tf.compat.v1.losses.sparse_softmax_cross_entropy instead.

In [4]:
pip install kaggle

Requirement already satisfied: kaggle in c:\python311\lib\site-packages (1.6.17)Note: you may need to restart the kernel to use updated packages.

Requirement already satisfied: six>=1.10 in c:\python311\lib\site-packages (from kaggle) (1.16.0)
Requirement already satisfied: certifi>=2023.7.22 in c:\python311\lib\site-packages (from kaggle) (2023.11.17)
Requirement already satisfied: python-dateutil in c:\python311\lib\site-packages (from kaggle) (2.8.2)
Requirement already satisfied: requests in c:\python311\lib\site-packages (from kaggle) (2.31.0)
Requirement already satisfied: tqdm in c:\python311\lib\site-packages (from kaggle) (4.66.1)
Requirement already satisfied: python-slugify in c:\python311\lib\site-packages (from kaggle) (8.0.4)
Requirement already satisfied: urllib3 in c:\python311\lib\site-packages (from kaggle) (1.26.16)
Requirement already satisfied: bleach in c:\python311\lib\site-packages (from kaggle) (6.1.0)
Requirement already satisfied: webencodings in c:\python311\lib\site-packages (from bleach->kaggle) (0.5.1)
Requirement already satisfied: text-unidecode>=1.3 in c:\python311\lib\site-packages (from python-slugify->kaggle) (1.3)
Requirement already satisfied: charset-normalizer<4,>=2 in c:\python311\lib\site-packages (from requests->kaggle) (3.3.2)
Requirement already satisfied: idna<4,>=2.5 in c:\python311\lib\site-packages (from requests->kaggle) (3.6)
Requirement already satisfied: colorama in c:\users\jaisy\appdata\roaming\python\python311\site-packages (from tqdm->kaggle) (0.4.6)

In [5]:
import os
from zipfile import ZipFile

# Define the path to your kaggle.json file
kaggle_json_path = r"C:\CapStone New\kaggle (1).json"

In [6]:
import shutil

# Ensure the .kaggle directory exists
kaggle_dir = os.path.expanduser('~/.kaggle')
os.makedirs(kaggle_dir, exist_ok=True)

# Copy the kaggle.json file to the .kaggle directory
shutil.copy(kaggle_json_path, os.path.join(kaggle_dir, 'kaggle.json'))


print("kaggle.json has been copied to ~/.kaggle/ directory")

kaggle.json has been copied to ~/.kaggle/ directory

In [7]:
# Define the dataset and download path
dataset = 'arshkon/linkedin-job-postings' 
download_path = r'C:\CapStone New\kaggle_datasets'

In [8]:
import kaggle 
# Ensure the download directory exists
os.makedirs(download_path, exist_ok=True)

# Download the dataset
kaggle.api.dataset_download_files(dataset, path=download_path, unzip=True)

Dataset URL: https://www.kaggle.com/datasets/arshkon/linkedin-job-postings

In [9]:
# List files in the download directory to verify the actual file names
for root, dirs, files in os.walk(download_path):
    for file in files:
        print(os.path.join(root, file))

C:\CapStone New\kaggle_datasets\postings.csv
C:\CapStone New\kaggle_datasets\preprocessed_benefits_encoded.csv
C:\CapStone New\kaggle_datasets\preprocessed_companies.csv
C:\CapStone New\kaggle_datasets\preprocessed_companies_encoded.csv
C:\CapStone New\kaggle_datasets\preprocessed_company_industries_encoded.csv
C:\CapStone New\kaggle_datasets\preprocessed_company_specialities_encoded.csv
C:\CapStone New\kaggle_datasets\preprocessed_employee_counts_encoded.csv
C:\CapStone New\kaggle_datasets\preprocessed_industries.csv
C:\CapStone New\kaggle_datasets\preprocessed_industries_encoded.csv
C:\CapStone New\kaggle_datasets\preprocessed_job_industries_encoded.csv
C:\CapStone New\kaggle_datasets\preprocessed_job_skills_encoded.csv
C:\CapStone New\kaggle_datasets\preprocessed_postings.csv
C:\CapStone New\kaggle_datasets\preprocessed_postings_encoded.csv
C:\CapStone New\kaggle_datasets\preprocessed_postings_nlp.csv
C:\CapStone New\kaggle_datasets\preprocessed_salaries.csv
C:\CapStone New\kaggle_datasets\preprocessed_salaries_encoded.csv
C:\CapStone New\kaggle_datasets\preprocessed_skills_encoded.csv
C:\CapStone New\kaggle_datasets\companies\companies.csv
C:\CapStone New\kaggle_datasets\companies\company_industries.csv
C:\CapStone New\kaggle_datasets\companies\company_specialities.csv
C:\CapStone New\kaggle_datasets\companies\employee_counts.csv
C:\CapStone New\kaggle_datasets\jobs\benefits.csv
C:\CapStone New\kaggle_datasets\jobs\job_industries.csv
C:\CapStone New\kaggle_datasets\jobs\job_skills.csv
C:\CapStone New\kaggle_datasets\jobs\salaries.csv
C:\CapStone New\kaggle_datasets\mappings\industries.csv
C:\CapStone New\kaggle_datasets\mappings\skills.csv

In [10]:
# Paths to individual CSV files
datasets = {
    'postings': os.path.join(download_path, 'postings.csv'),
    'companies': os.path.join(download_path, 'companies', 'companies.csv'),
    'company_industries': os.path.join(download_path, 'companies', 'company_industries.csv'),
    'company_specialities': os.path.join(download_path, 'companies', 'company_specialities.csv'),
    'employee_counts': os.path.join(download_path, 'companies', 'employee_counts.csv'),
    'benefits': os.path.join(download_path, 'jobs', 'benefits.csv'),
    'job_industries': os.path.join(download_path, 'jobs', 'job_industries.csv'),
    'job_skills': os.path.join(download_path, 'jobs', 'job_skills.csv'),
    'salaries': os.path.join(download_path, 'jobs', 'salaries.csv'),
    'industries': os.path.join(download_path, 'mappings', 'industries.csv'),
    'skills': os.path.join(download_path, 'mappings', 'skills.csv')
}

In [23]:
# Load each CSV file into a pandas DataFrame
dataframes = {name: pd.read_csv(path) for name, path in datasets.items()}

# Function to print head, describe, info, and shape
def print_dataframe_info(df, name):
    print(f"Dataset: {name}")
    print("\nHead:")
    print(df.head(), "\n")
    print("Describe:")
    print(df.describe(), "\n")
    print("Info:")
    df.info()
    print("\nShape:")
    print(df.shape, "\n")
    print("="*80 + "\n")

    

# Print information for each DataFrame
for name, df in dataframes.items():
    print_dataframe_info(df, name)
    input("Press Enter to continue to the next DataFrame...")  # Pauses between each DataFrame

Dataset: postings

Head:
     job_id            company_name  \
0    921716   Corcoran Sawyer Smith
1   1829192                     NaN
2  10998357  The National Exemplar
3  23221523  Abrams Fensterman, LLP
4  35982263                     NaN

                                               title  \
0                              Marketing Coordinator
1                  Mental Health Therapist/Counselor
2                        Assitant Restaurant Manager
3  Senior Elder Law / Trusts and Estates Associat...
4                                 Service Technician

                                         description  max_salary pay_period  \
0  Job descriptionA leading real estate firm in N...        20.0     HOURLY
1  At Aspen Therapy and Wellness , we are committ...        50.0     HOURLY
2  The National Exemplar is accepting application...     65000.0     YEARLY
3  Senior Associate Attorney - Elder Law / Trusts...    175000.0     YEARLY
4  Looking for HVAC service tech with experience ...     80000.0     YEARLY

            location  company_id  views  med_salary  ...        expiry  \
0      Princeton, NJ   2774458.0   20.0         NaN  ...  1.715990e+12
1   Fort Collins, CO         NaN    1.0         NaN  ...  1.715450e+12
2     Cincinnati, OH  64896719.0    8.0         NaN  ...  1.715870e+12
3  New Hyde Park, NY    766262.0   16.0         NaN  ...  1.715488e+12
4     Burlington, IA         NaN    3.0         NaN  ...  1.716044e+12

  closed_time  formatted_experience_level  \
0         NaN                         NaN
1         NaN                         NaN
2         NaN                         NaN
3         NaN                         NaN
4         NaN                         NaN

                                         skills_desc   listed_time  \
0  Requirements: \n\nWe are seeking a College or ...  1.713398e+12
1                                                NaN  1.712858e+12
2  We are currently accepting resumes for FOH - A...  1.713278e+12
3  This position requires a baseline understandin...  1.712896e+12
4                                                NaN  1.713452e+12

  posting_domain sponsored  work_type  currency  compensation_type
0            NaN         0  FULL_TIME       USD        BASE_SALARY
1            NaN         0  FULL_TIME       USD        BASE_SALARY
2            NaN         0  FULL_TIME       USD        BASE_SALARY
3            NaN         0  FULL_TIME       USD        BASE_SALARY
4            NaN         0  FULL_TIME       USD        BASE_SALARY

[5 rows x 28 columns]

Describe:
             job_id    max_salary    company_id          views     med_salary  \
count  1.238490e+05  2.979300e+04  1.221320e+05  122160.000000    6280.000000
mean   3.896402e+09  9.193942e+04  1.220401e+07      14.618247   22015.619876
std    8.404355e+07  7.011101e+05  2.554143e+07      85.903598   52255.873846
min    9.217160e+05  1.000000e+00  1.009000e+03       1.000000       0.000000
25%    3.894587e+09  4.828000e+01  1.435200e+04       3.000000      18.940000
50%    3.901998e+09  8.000000e+04  2.269650e+05       4.000000      25.500000
75%    3.904707e+09  1.400000e+05  8.047188e+06       8.000000    2510.500000
max    3.906267e+09  1.200000e+08  1.034730e+08    9975.000000  750000.000000

         min_salary       applies  original_listed_time  remote_allowed  \
count  2.979300e+04  23320.000000          1.238490e+05         15246.0
mean   6.491085e+04     10.591981          1.713152e+12             1.0
std    4.959738e+05     29.047395          4.848209e+08             0.0
min    1.000000e+00      1.000000          1.701811e+12             1.0
25%    3.700000e+01      1.000000          1.712863e+12             1.0
50%    6.000000e+04      3.000000          1.713395e+12             1.0
75%    1.000000e+05      8.000000          1.713478e+12             1.0
max    8.500000e+07    967.000000          1.713573e+12             1.0

             expiry   closed_time   listed_time  sponsored
count  1.238490e+05  1.073000e+03  1.238490e+05   123849.0
mean   1.716213e+12  1.712928e+12  1.713204e+12        0.0
std    2.321394e+09  3.622893e+08  3.989122e+08        0.0
min    1.712903e+12  1.712346e+12  1.711317e+12        0.0
25%    1.715481e+12  1.712670e+12  1.712886e+12        0.0
50%    1.716042e+12  1.712670e+12  1.713408e+12        0.0
75%    1.716088e+12  1.713283e+12  1.713484e+12        0.0
max    1.729125e+12  1.713562e+12  1.713573e+12        0.0

Info:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 123849 entries, 0 to 123848
Data columns (total 28 columns):
 #   Column                      Non-Null Count   Dtype
---  ------                      --------------   -----
 0   job_id                      123849 non-null  int64
 1   company_name                122130 non-null  object
 2   title                       123849 non-null  object
 3   description                 123842 non-null  object
 4   max_salary                  29793 non-null   float64
 5   pay_period                  36073 non-null   object
 6   location                    123849 non-null  object
 7   company_id                  122132 non-null  float64
 8   views                       122160 non-null  float64
 9   med_salary                  6280 non-null    float64
 10  min_salary                  29793 non-null   float64
 11  formatted_work_type         123849 non-null  object
 12  applies                     23320 non-null   float64
 13  original_listed_time        123849 non-null  float64
 14  remote_allowed              15246 non-null   float64
 15  job_posting_url             123849 non-null  object
 16  application_url             87184 non-null   object
 17  application_type            123849 non-null  object
 18  expiry                      123849 non-null  float64
 19  closed_time                 1073 non-null    float64
 20  formatted_experience_level  94440 non-null   object
 21  skills_desc                 2439 non-null    object
 22  listed_time                 123849 non-null  float64
 23  posting_domain              83881 non-null   object
 24  sponsored                   123849 non-null  int64
 25  work_type                   123849 non-null  object
 26  currency                    36073 non-null   object
 27  compensation_type           36073 non-null   object
dtypes: float64(11), int64(2), object(15)
memory usage: 26.5+ MB

Shape:
(123849, 28)

================================================================================

Dataset: companies

Head:
   company_id                        name  \
0        1009                         IBM
1        1016               GE HealthCare
2        1025  Hewlett Packard Enterprise
3        1028                      Oracle
4        1033                   Accenture

                                         description  company_size  state  \
0  At IBM, we do more than work. We create. We cr...           7.0     NY
1  Every day millions of people feel the impact o...           7.0      0
2  Official LinkedIn of Hewlett Packard Enterpris...           7.0  Texas
3  We’re a cloud technology company that provides...           7.0  Texas
4  Accenture is a leading global professional ser...           7.0      0

  country              city zip_code                                address  \
0      US  Armonk, New York    10504  International Business Machines Corp.
1      US           Chicago        0                                      -
2      US           Houston    77389            1701 E Mossy Oaks Rd Spring
3      US            Austin    78741                        2300 Oracle Way
4      IE          Dublin 2        0                    Grand Canal Harbour

                                                 url
0               https://www.linkedin.com/company/ibm
1      https://www.linkedin.com/company/gehealthcare
2  https://www.linkedin.com/company/hewlett-packa...
3            https://www.linkedin.com/company/oracle
4         https://www.linkedin.com/company/accenture

Describe:
         company_id  company_size
count  2.447300e+04  21699.000000
mean   2.052239e+07      3.349233
std    3.165929e+07      1.904503
min    1.009000e+03      1.000000
25%    1.654040e+05      2.000000
50%    2.738154e+06      3.000000
75%    2.624142e+07      5.000000
max    1.034730e+08      7.000000

Info:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 24473 entries, 0 to 24472
Data columns (total 10 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   company_id    24473 non-null  int64
 1   name          24472 non-null  object
 2   description   24176 non-null  object
 3   company_size  21699 non-null  float64
 4   state         24451 non-null  object
 5   country       24473 non-null  object
 6   city          24472 non-null  object
 7   zip_code      24445 non-null  object
 8   address       24451 non-null  object
 9   url           24473 non-null  object
dtypes: float64(1), int64(1), object(8)
memory usage: 1.9+ MB

Shape:
(24473, 10)

================================================================================

Dataset: company_industries

Head:
   company_id                        industry
0      391906  Book and Periodical Publishing
1    22292832                    Construction
2       20300                         Banking
3     3570660  Book and Periodical Publishing
4      878353         Staffing and Recruiting

Describe:
         company_id
count  2.437500e+04
mean   2.038566e+07
std    3.158083e+07
min    1.009000e+03
25%    1.652215e+05
50%    2.708302e+06
75%    2.503948e+07
max    1.034730e+08

Info:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 24375 entries, 0 to 24374
Data columns (total 2 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   company_id  24375 non-null  int64
 1   industry    24375 non-null  object
dtypes: int64(1), object(1)
memory usage: 381.0+ KB

Shape:
(24375, 2)

================================================================================

Dataset: company_specialities

Head:
   company_id              speciality
0    22292832      window replacement
1    22292832  patio door replacement
2       20300      Commercial Banking
3       20300          Retail Banking
4       20300                Mortgage

Describe:
         company_id
count  1.693870e+05
mean   1.258875e+07
std    2.451128e+07
min    1.009000e+03
25%    1.103290e+05
50%    1.346497e+06
75%    1.067675e+07
max    1.034588e+08

Info:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 169387 entries, 0 to 169386
Data columns (total 2 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   company_id  169387 non-null  int64
 1   speciality  169387 non-null  object
dtypes: int64(1), object(1)
memory usage: 2.6+ MB

Shape:
(169387, 2)

================================================================================

Dataset: employee_counts

Head:
   company_id  employee_count  follower_count  time_recorded
0      391906             186           32508     1712346173
1    22292832             311            4471     1712346173
2       20300            1053            6554     1712346173
3     3570660             383           35241     1712346173
4      878353              52           26397     1712346173

Describe:
         company_id  employee_count  follower_count  time_recorded
count  3.578700e+04    35787.000000    3.578700e+04   3.578700e+04
mean   1.668254e+07     6715.874256    2.012616e+05   1.713163e+09
std    2.924722e+07    29400.984643    1.114733e+06   3.990869e+05
min    1.009000e+03        0.000000    0.000000e+00   1.712346e+09
25%    6.059650e+04       56.000000    2.738000e+03   1.712861e+09
50%    1.339209e+06      418.000000    1.617800e+04   1.713393e+09
75%    1.544092e+07     2945.000000    7.412950e+04   1.713472e+09
max    1.034730e+08   751125.000000    3.270284e+07   1.713573e+09

Info:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 35787 entries, 0 to 35786
Data columns (total 4 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   company_id      35787 non-null  int64
 1   employee_count  35787 non-null  int64
 2   follower_count  35787 non-null  int64
 3   time_recorded   35787 non-null  int64
dtypes: int64(4)
memory usage: 1.1 MB

Shape:
(35787, 4)

================================================================================

Dataset: benefits

Head:
       job_id  inferred                     type
0  3887473071         0        Medical insurance
1  3887473071         0         Vision insurance
2  3887473071         0         Dental insurance
3  3887473071         0                   401(k)
4  3887473071         0  Student loan assistance

Describe:
             job_id      inferred
count  6.794300e+04  67943.000000
mean   3.896220e+09      0.594969
std    9.817292e+07      0.490902
min    2.322152e+07      0.000000
25%    3.898161e+09      0.000000
50%    3.902348e+09      1.000000
75%    3.904719e+09      1.000000
max    3.906267e+09      1.000000

Info:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 67943 entries, 0 to 67942
Data columns (total 3 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   job_id    67943 non-null  int64
 1   inferred  67943 non-null  int64
 2   type      67943 non-null  object
dtypes: int64(2), object(1)
memory usage: 1.6+ MB

Shape:
(67943, 3)

================================================================================

Dataset: job_industries

Head:
       job_id  industry_id
0  3884428798           82
1  3887473071           48
2  3887465684           41
3  3887467939           82
4  3887467939           80

Describe:
             job_id    industry_id
count  1.648080e+05  164808.000000
mean   3.897074e+09     196.155284
std    7.624930e+07     594.230895
min    9.217160e+05       1.000000
25%    3.894876e+09      17.000000
50%    3.902342e+09      44.000000
75%    3.904719e+09      96.000000
max    3.906267e+09    3253.000000

Info:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 164808 entries, 0 to 164807
Data columns (total 2 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   job_id       164808 non-null  int64
 1   industry_id  164808 non-null  int64
dtypes: int64(2)
memory usage: 2.5 MB

Shape:
(164808, 2)

================================================================================

Dataset: job_skills

Head:
       job_id skill_abr
0  3884428798      MRKT
1  3884428798        PR
2  3884428798       WRT
3  3887473071      SALE
4  3887465684       FIN

Describe:
             job_id
count  2.137680e+05
mean   3.896849e+09
std    7.834902e+07
min    9.217160e+05
25%    3.894661e+09
50%    3.902323e+09
75%    3.904715e+09
max    3.906267e+09

Info:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 213768 entries, 0 to 213767
Data columns (total 2 columns):
 #   Column     Non-Null Count   Dtype
---  ------     --------------   -----
 0   job_id     213768 non-null  int64
 1   skill_abr  213768 non-null  object
dtypes: int64(1), object(1)
memory usage: 3.3+ MB

Shape:
(213768, 2)

================================================================================

Dataset: salaries

Head:
   salary_id      job_id  max_salary  med_salary  min_salary pay_period  \
0          1  3884428798         NaN        20.0         NaN     HOURLY
1          2  3887470552        25.0         NaN        23.0     HOURLY
2          3  3884431523    120000.0         NaN    100000.0     YEARLY
3          4  3884911725    200000.0         NaN     10000.0     YEARLY
4          5  3887473220        35.0         NaN        33.0     HOURLY

  currency compensation_type
0      USD       BASE_SALARY
1      USD       BASE_SALARY
2      USD       BASE_SALARY
3      USD       BASE_SALARY
4      USD       BASE_SALARY

Describe:
          salary_id        job_id    max_salary     med_salary    min_salary
count  40785.000000  4.078500e+04  3.394700e+04    6838.000000  3.394700e+04
mean   20393.000000  3.895564e+09  9.620987e+04   21370.298197  6.508541e+04
std    11773.759701  9.496672e+07  6.587373e+05   51338.564166  4.650612e+05
min        1.000000  9.217160e+05  1.000000e+00       0.000000  1.000000e+00
25%    10197.000000  3.894608e+09  5.000000e+01      18.500000  3.900000e+01
50%    20393.000000  3.901980e+09  8.500000e+04      25.000000  6.230000e+04
75%    30589.000000  3.904576e+09  1.425000e+05    2207.000000  1.000000e+05
max    40785.000000  3.906267e+09  1.200000e+08  750000.000000  8.500000e+07

Info:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 40785 entries, 0 to 40784
Data columns (total 8 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   salary_id          40785 non-null  int64
 1   job_id             40785 non-null  int64
 2   max_salary         33947 non-null  float64
 3   med_salary         6838 non-null   float64
 4   min_salary         33947 non-null  float64
 5   pay_period         40785 non-null  object
 6   currency           40785 non-null  object
 7   compensation_type  40785 non-null  object
dtypes: float64(3), int64(2), object(3)
memory usage: 2.5+ MB

Shape:
(40785, 8)

================================================================================

Dataset: industries

Head:
   industry_id                         industry_name
0            1       Defense and Space Manufacturing
1            3       Computer Hardware Manufacturing
2            4                  Software Development
3            5          Computer Networking Products
4            6  Technology, Information and Internet

Describe:
       industry_id
count   422.000000
mean   1342.305687
std    1212.022551
min       1.000000
25%     108.250000
50%    1161.500000
75%    2279.500000
max    3253.000000

Info:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 422 entries, 0 to 421
Data columns (total 2 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   industry_id    422 non-null    int64
 1   industry_name  388 non-null    object
dtypes: int64(1), object(1)
memory usage: 6.7+ KB

Shape:
(422, 2)

================================================================================

Dataset: skills

Head:
  skill_abr          skill_name
0       ART        Art/Creative
1      DSGN              Design
2      ADVR         Advertising
3      PRDM  Product Management
4      DIST        Distribution

Describe:
       skill_abr    skill_name
count         35            35
unique        35            35
top          ART  Art/Creative
freq           1             1

Info:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 35 entries, 0 to 34
Data columns (total 2 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   skill_abr   35 non-null     object
 1   skill_name  35 non-null     object
dtypes: object(2)
memory usage: 692.0+ bytes

Shape:
(35, 2)

================================================================================

DATA PREPROCESSING

In [12]:
# Function to find and print missing values
def find_missing_values(dataframes):
    for name, df in dataframes.items():
        print(f"Missing values in {name}:")
        print(df.isnull().sum())
        print("="*80 + "\n")

# Find and print missing values
find_missing_values(dataframes)

Missing values in postings:
job_id                             0
company_name                    1719
title                              0
description                        7
max_salary                     94056
pay_period                     87776
location                           0
company_id                      1717
views                           1689
med_salary                    117569
min_salary                     94056
formatted_work_type                0
applies                       100529
original_listed_time               0
remote_allowed                108603
job_posting_url                    0
application_url                36665
application_type                   0
expiry                             0
closed_time                   122776
formatted_experience_level     29409
skills_desc                   121410
listed_time                        0
posting_domain                 39968
sponsored                          0
work_type                          0
currency                       87776
compensation_type              87776
dtype: int64
================================================================================

Missing values in companies:
company_id         0
name               1
description      297
company_size    2774
state             22
country            0
city               1
zip_code          28
address           22
url                0
dtype: int64
================================================================================

Missing values in company_industries:
company_id    0
industry      0
dtype: int64
================================================================================

Missing values in company_specialities:
company_id    0
speciality    0
dtype: int64
================================================================================

Missing values in employee_counts:
company_id        0
employee_count    0
follower_count    0
time_recorded     0
dtype: int64
================================================================================

Missing values in benefits:
job_id      0
inferred    0
type        0
dtype: int64
================================================================================

Missing values in job_industries:
job_id         0
industry_id    0
dtype: int64
================================================================================

Missing values in job_skills:
job_id       0
skill_abr    0
dtype: int64
================================================================================

Missing values in salaries:
salary_id                0
job_id                   0
max_salary            6838
med_salary           33947
min_salary            6838
pay_period               0
currency                 0
compensation_type        0
dtype: int64
================================================================================

Missing values in industries:
industry_id       0
industry_name    34
dtype: int64
================================================================================

Missing values in skills:
skill_abr     0
skill_name    0
dtype: int64
================================================================================

In [13]:
# Function to remove duplicates
def remove_duplicates(dataframes):
    for name, df in dataframes.items():
        print(f"Removing duplicates for {name}")
        dataframes[name] = df.drop_duplicates()

# Remove duplicates
remove_duplicates(dataframes)

Removing duplicates for postings
Removing duplicates for companies
Removing duplicates for company_industries
Removing duplicates for company_specialities
Removing duplicates for employee_counts
Removing duplicates for benefits
Removing duplicates for job_industries
Removing duplicates for job_skills
Removing duplicates for salaries
Removing duplicates for industries
Removing duplicates for skills

In [14]:

# Handle missing values in the companies dataset
companies = dataframes['companies'].copy()
companies = companies.dropna(subset=['name'])
companies['description'] = companies['description'].fillna('No description available')
companies['company_size'] = companies['company_size'].fillna(companies['company_size'].median())
companies['state'] = companies['state'].fillna(companies['state'].mode()[0])
companies = companies.dropna(subset=['city'])
companies['zip_code'] = companies['zip_code'].fillna('00000')
companies['address'] = companies['address'].fillna('No address available')

# Handle missing values in the salaries dataset
salaries = dataframes['salaries'].copy()
salaries['max_salary'] = salaries['max_salary'].fillna(salaries['max_salary'].median())
salaries['med_salary'] = salaries['med_salary'].fillna(salaries['med_salary'].median())
salaries['min_salary'] = salaries['min_salary'].fillna(salaries['min_salary'].median())

# Handle missing values in the postings dataset
postings = dataframes['postings'].copy()
postings = postings.dropna(subset=['company_name'])
postings['description'] = postings['description'].fillna('No description available')
postings['max_salary'] = postings['max_salary'].fillna(postings['max_salary'].median())
postings['med_salary'] = postings['med_salary'].fillna(postings['med_salary'].median())
postings['min_salary'] = postings['min_salary'].fillna(postings['min_salary'].median())
postings['pay_period'] = postings['pay_period'].fillna(postings['pay_period'].mode()[0])
postings = postings.dropna(subset=['company_id'])
postings['views'] = postings['views'].fillna(postings['views'].median())
postings['applies'] = postings['applies'].fillna(postings['applies'].median())
postings['remote_allowed'] = postings['remote_allowed'].fillna(postings['remote_allowed'].mode()[0])
postings['application_url'] = postings['application_url'].fillna('No application URL')
postings['formatted_experience_level'] = postings['formatted_experience_level'].fillna(postings['formatted_experience_level'].mode()[0])
postings['skills_desc'] = postings['skills_desc'].fillna('No skills listed')
postings['posting_domain'] = postings['posting_domain'].fillna('No domain')
postings['currency'] = postings['currency'].fillna(postings['currency'].mode()[0])
postings['compensation_type'] = postings['compensation_type'].fillna(postings['compensation_type'].mode()[0])

# Handle missing values in the industries dataset
industries = dataframes['industries'].copy()
industries['industry_name'] = industries['industry_name'].fillna('Unknown Industry')

# Save the preprocessed dataframes if needed
companies.to_csv(os.path.join(download_path, 'preprocessed_companies.csv'), index=False)
salaries.to_csv(os.path.join(download_path, 'preprocessed_salaries.csv'), index=False)
postings.to_csv(os.path.join(download_path, 'preprocessed_postings.csv'), index=False)
industries.to_csv(os.path.join(download_path, 'preprocessed_industries.csv'), index=False)

# Update the dataframes dictionary with the preprocessed data
dataframes['companies'] = companies
dataframes['salaries'] = salaries
dataframes['postings'] = postings
dataframes['industries'] = industries

print("Missing values handled and dataframes saved.")

Missing values handled and dataframes saved.

In [15]:
# Print head of each preprocessed dataframe
for name, df in dataframes.items():
    print(f"Head of {name} dataset:")
    print(df.head(), "\n")

Head of postings dataset:
      job_id               company_name  \
0     921716      Corcoran Sawyer Smith
2   10998357     The National Exemplar
3   23221523     Abrams Fensterman, LLP
5   91700727  Downtown Raleigh Alliance
6  103254301                 Raw Cereal

                                               title  \
0                              Marketing Coordinator
2                        Assitant Restaurant Manager
3  Senior Elder Law / Trusts and Estates Associat...
5           Economic Development and Planning Intern
6                                           Producer

                                         description  max_salary pay_period  \
0  Job descriptionA leading real estate firm in N...        20.0     HOURLY
2  The National Exemplar is accepting application...     65000.0     YEARLY
3  Senior Associate Attorney - Elder Law / Trusts...    175000.0     YEARLY
5  Job summary:The Economic Development & Plannin...        20.0     HOURLY
6  Company DescriptionRaw Cereal is a creative de...    300000.0     YEARLY

            location  company_id  views  med_salary  ...        expiry  \
0      Princeton, NJ   2774458.0   20.0       25.37  ...  1.715990e+12
2     Cincinnati, OH  64896719.0    8.0       25.37  ...  1.715870e+12
3  New Hyde Park, NY    766262.0   16.0       25.37  ...  1.715488e+12
5        Raleigh, NC   1481176.0    9.0       25.37  ...  1.716048e+12
6      United States  81942316.0    7.0       25.37  ...  1.715453e+12

  closed_time  formatted_experience_level  \
0         NaN            Mid-Senior level
2         NaN            Mid-Senior level
3         NaN            Mid-Senior level
5         NaN            Mid-Senior level
6         NaN            Mid-Senior level

                                         skills_desc   listed_time  \
0  Requirements: \n\nWe are seeking a College or ...  1.713398e+12
2  We are currently accepting resumes for FOH - A...  1.713278e+12
3  This position requires a baseline understandin...  1.712896e+12
5                                   No skills listed  1.713456e+12
6                                   No skills listed  1.712861e+12

  posting_domain sponsored   work_type  currency  compensation_type
0      No domain         0   FULL_TIME       USD        BASE_SALARY
2      No domain         0   FULL_TIME       USD        BASE_SALARY
3      No domain         0   FULL_TIME       USD        BASE_SALARY
5      No domain         0  INTERNSHIP       USD        BASE_SALARY
6      No domain         0    CONTRACT       USD        BASE_SALARY

[5 rows x 28 columns]

Head of companies dataset:
   company_id                        name  \
0        1009                         IBM
1        1016               GE HealthCare
2        1025  Hewlett Packard Enterprise
3        1028                      Oracle
4        1033                   Accenture

                                         description  company_size  state  \
0  At IBM, we do more than work. We create. We cr...           7.0     NY
1  Every day millions of people feel the impact o...           7.0      0
2  Official LinkedIn of Hewlett Packard Enterpris...           7.0  Texas
3  We’re a cloud technology company that provides...           7.0  Texas
4  Accenture is a leading global professional ser...           7.0      0

  country              city zip_code                                address  \
0      US  Armonk, New York    10504  International Business Machines Corp.
1      US           Chicago        0                                      -
2      US           Houston    77389            1701 E Mossy Oaks Rd Spring
3      US            Austin    78741                        2300 Oracle Way
4      IE          Dublin 2        0                    Grand Canal Harbour

                                                 url
0               https://www.linkedin.com/company/ibm
1      https://www.linkedin.com/company/gehealthcare
2  https://www.linkedin.com/company/hewlett-packa...
3            https://www.linkedin.com/company/oracle
4         https://www.linkedin.com/company/accenture

Head of company_industries dataset:
   company_id                        industry
0      391906  Book and Periodical Publishing
1    22292832                    Construction
2       20300                         Banking
3     3570660  Book and Periodical Publishing
4      878353         Staffing and Recruiting

Head of company_specialities dataset:
   company_id              speciality
0    22292832      window replacement
1    22292832  patio door replacement
2       20300      Commercial Banking
3       20300          Retail Banking
4       20300                Mortgage

Head of employee_counts dataset:
   company_id  employee_count  follower_count  time_recorded
0      391906             186           32508     1712346173
1    22292832             311            4471     1712346173
2       20300            1053            6554     1712346173
3     3570660             383           35241     1712346173
4      878353              52           26397     1712346173

Head of benefits dataset:
       job_id  inferred                     type
0  3887473071         0        Medical insurance
1  3887473071         0         Vision insurance
2  3887473071         0         Dental insurance
3  3887473071         0                   401(k)
4  3887473071         0  Student loan assistance

Head of job_industries dataset:
       job_id  industry_id
0  3884428798           82
1  3887473071           48
2  3887465684           41
3  3887467939           82
4  3887467939           80

Head of job_skills dataset:
       job_id skill_abr
0  3884428798      MRKT
1  3884428798        PR
2  3884428798       WRT
3  3887473071      SALE
4  3887465684       FIN

Head of salaries dataset:
   salary_id      job_id  max_salary  med_salary  min_salary pay_period  \
0          1  3884428798     85000.0        20.0     62300.0     HOURLY
1          2  3887470552        25.0        25.0        23.0     HOURLY
2          3  3884431523    120000.0        25.0    100000.0     YEARLY
3          4  3884911725    200000.0        25.0     10000.0     YEARLY
4          5  3887473220        35.0        25.0        33.0     HOURLY

  currency compensation_type
0      USD       BASE_SALARY
1      USD       BASE_SALARY
2      USD       BASE_SALARY
3      USD       BASE_SALARY
4      USD       BASE_SALARY

Head of industries dataset:
   industry_id                         industry_name
0            1       Defense and Space Manufacturing
1            3       Computer Hardware Manufacturing
2            4                  Software Development
3            5          Computer Networking Products
4            6  Technology, Information and Internet

Head of skills dataset:
  skill_abr          skill_name
0       ART        Art/Creative
1      DSGN              Design
2      ADVR         Advertising
3      PRDM  Product Management
4      DIST        Distribution

NLP PREPROCESSING

In [16]:
import string
from nltk.corpus import stopwords
from nltk.tokenize import word_tokenize
from nltk.stem import WordNetLemmatizer
import nltk

nltk.download('stopwords')
nltk.download('punkt')
nltk.download('wordnet')

# Define the preprocessing function
def preprocess_text(text):
    if not isinstance(text, str):
        return text
    # Lowercasing
    text = text.lower()
    # Removing punctuation
    text = text.translate(str.maketrans('', '', string.punctuation))
    # Tokenizing
    words = word_tokenize(text)
    # Removing stopwords
    stop_words = set(stopwords.words('english'))
    words = [word for word in words if word not in stop_words]
    # Lemmatizing
    lemmatizer = WordNetLemmatizer()
    words = [lemmatizer.lemmatize(word) for word in words]
    # Join words back into a single string
    preprocessed_text = ' '.join(words)
    return preprocessed_text

# Apply the preprocessing function to the description columns
postings['description'] = postings['description'].apply(preprocess_text)
postings['skills_desc'] = postings['skills_desc'].apply(preprocess_text)
companies['description'] = companies['description'].apply(preprocess_text)

# Display the first few rows to verify the preprocessing
print(postings[['description', 'skills_desc']].head())
print(companies['description'].head())

[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\jaisy\AppData\Roaming\nltk_data...
[nltk_data]   Package stopwords is already up-to-date!
[nltk_data] Downloading package punkt to
[nltk_data]     C:\Users\jaisy\AppData\Roaming\nltk_data...
[nltk_data]   Package punkt is already up-to-date!
[nltk_data] Downloading package wordnet to
[nltk_data]     C:\Users\jaisy\AppData\Roaming\nltk_data...
[nltk_data]   Package wordnet is already up-to-date!

                                         description  \
0  job descriptiona leading real estate firm new ...
2  national exemplar accepting application assist...
3  senior associate attorney elder law trust esta...
5  job summarythe economic development planning i...
6  company descriptionraw cereal creative design ...

                                         skills_desc
0  requirement seeking college graduate student a...
2  currently accepting resume foh asisstant resta...
3  position requires baseline understanding onlin...
5                                       skill listed
6                                       skill listed
0    ibm work create create technologist developer ...
1    every day million people feel impact intellige...
2    official linkedin hewlett packard enterprise g...
3    ’ cloud technology company provides organizati...
4    accenture leading global professional service ...
Name: description, dtype: object

Merging Datasets

In [34]:
# Merge company-related datasets
company_data = dataframes['companies'].merge(dataframes['company_industries'], on='company_id', how='left')
company_data = company_data.merge(dataframes['company_specialities'], on='company_id', how='left')
company_data = company_data.merge(dataframes['employee_counts'], on='company_id', how='left')

In [35]:
# Merge job-related datasets
job_data = dataframes['postings'].merge(dataframes['job_industries'], on='job_id', how='left')
job_data = job_data.merge(dataframes['job_skills'], on='job_id', how='left')
job_data = job_data.merge(dataframes['salaries'], on='job_id', how='left')
job_data = job_data.merge(dataframes['benefits'], on='job_id', how='left')

In [36]:
# Combine postings with company and job data
final_data = job_data.merge(company_data, on='company_id', how='left')

In [37]:
from sklearn.preprocessing import OneHotEncoder, LabelEncoder

# Function to encode categorical variables
def encode_categorical_variables(df):
    # Select categorical columns
    categorical_cols = df.select_dtypes(include=['object']).columns
    # Apply One-Hot Encoding to columns with low cardinality
    low_cardinality_cols = [col for col in categorical_cols if df[col].nunique() < 100]
    high_cardinality_cols = [col for col in categorical_cols if df[col].nunique() >= 100]
    
    df_low_card = pd.get_dummies(df[low_cardinality_cols], drop_first=True)
    
    # Apply Label Encoding to columns with high cardinality
    label_encoders = {}
    for col in high_cardinality_cols:
        le = LabelEncoder()
        df[col] = le.fit_transform(df[col].astype(str))
        label_encoders[col] = le
    
    # Drop the original low cardinality columns and concatenate the encoded columns
    df = df.drop(columns=low_cardinality_cols)
    df = pd.concat([df, df_low_card], axis=1)
    
    return df, label_encoders

In [38]:
# Apply encoding to the postings DataFrame
postings_encoded, postings_label_encoders = encode_categorical_variables(postings)

# Apply encoding to the company DataFrame
company_data_encoded, company_label_encoders = encode_categorical_variables(companies)



# Verify encoding
print(postings_encoded.head())
print(company_data_encoded.head())

      job_id  company_name  title  description  max_salary  location  \
0     921716          5381  35491        47135        20.0      6228
2   10998357         21335   4945        65212     65000.0      1390
3   23221523           557  57093        89627    175000.0      5332
5   91700727          6440  19531        51524        20.0      6288
6  103254301         17409  45415        16132    300000.0      7678

   company_id  views  med_salary  min_salary  ...  work_type_FULL_TIME  \
0   2774458.0   20.0       25.37        17.0  ...                 True
2  64896719.0    8.0       25.37     45000.0  ...                 True
3    766262.0   16.0       25.37    140000.0  ...                 True
5   1481176.0    9.0       25.37        14.0  ...                False
6  81942316.0    7.0       25.37     60000.0  ...                False

   work_type_INTERNSHIP  work_type_OTHER  work_type_PART_TIME  \
0                 False            False                False
2                 False            False                False
3                 False            False                False
5                  True            False                False
6                 False            False                False

   work_type_TEMPORARY  work_type_VOLUNTEER  currency_CAD  currency_EUR  \
0                False                False         False         False
2                False                False         False         False
3                False                False         False         False
5                False                False         False         False
6                False                False         False         False

   currency_GBP  currency_USD
0         False          True
2         False          True
3         False          True
5         False          True
6         False          True

[5 rows x 49 columns]
   company_id   name  description  company_size  state  city  zip_code  \
0        1009  10356        10844           7.0    422   162       884
1        1016   8466         7196           7.0      9   690        29
2        1025   9884        15514           7.0    621  1607      5375
3        1028  15432        23901           7.0    621   203      5525
4        1033    585          656           7.0      9   989        29

   address    url  country_AE  ...  country_SG  country_SV  country_TR  \
0    18253  10359       False  ...       False       False       False
1       48   8530       False  ...       False       False       False
2     4883   9784       False  ...       False       False       False
3     7354  15476       False  ...       False       False       False
4    18147    270       False  ...       False       False       False

   country_TW  country_TZ  country_UA  country_US  country_VE  country_VN  \
0       False       False       False        True       False       False
1       False       False       False        True       False       False
2       False       False       False        True       False       False
3       False       False       False        True       False       False
4       False       False       False       False       False       False

   country_ZA
0       False
1       False
2       False
3       False
4       False

[5 rows x 89 columns]

In [39]:
import os

# Define the path where you want to save the cleaned dataset
output_path = os.path.join(download_path, 'cleaned_final_data.csv')

# Save the final dataset to a CSV file
final_data.to_csv(output_path, index=False)

print(f"Cleaned dataset saved to {output_path}")

Cleaned dataset saved to C:\CapStone New\kaggle_datasets\cleaned_final_data.csv