In [2]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import seaborn as sns

import string
import nltk
from nltk.corpus import stopwords
from nltk.tokenize import word_tokenize
from nltk.stem import WordNetLemmatizer
from sklearn.preprocessing import LabelEncoder, OneHotEncoder
from sklearn.pipeline import Pipeline
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import RandomizedSearchCV, train_test_split
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.metrics import accuracy_score, precision_score, recall_score, f1_score

In [3]:
import os
from zipfile import ZipFile

# Define the path to your kaggle.json file
kaggle_json_path = r"C:\LinkedInJobPostings\kaggle(1).json"

In [4]:
import shutil

# Ensure the .kaggle directory exists
kaggle_dir = os.path.expanduser('~/.kaggle')
os.makedirs(kaggle_dir, exist_ok=True)

# Copy the kaggle.json file to the .kaggle directory
shutil.copy(kaggle_json_path, os.path.join(kaggle_dir, 'kaggle(1).json'))


print("kaggle(1).json has been copied to ~/.kaggle/ directory")

kaggle(1).json has been copied to ~/.kaggle/ directory

In [5]:
# Define the dataset and download path
dataset = 'arshkon/linkedin-job-postings' 
download_path =  r"C:\LinkedInJobPostings\dataset"

In [6]:
import kaggle 
# Ensure the download directory exists
os.makedirs(download_path, exist_ok=True)

# Download the dataset
kaggle.api.dataset_download_files(dataset, path=download_path, unzip=True)

Dataset URL: https://www.kaggle.com/datasets/arshkon/linkedin-job-postings

In [7]:
# List files in the download directory to verify the actual file names
for root, dirs, files in os.walk(download_path):
    for file in files:
        print(os.path.join(root, file))

C:\LinkedInJobPostings\dataset\postings.csv
C:\LinkedInJobPostings\dataset\preprocessed_companies.csv
C:\LinkedInJobPostings\dataset\preprocessed_postings.csv
C:\LinkedInJobPostings\dataset\preprocessed_salaries.csv
C:\LinkedInJobPostings\dataset\TF-IDF.ipynb
C:\LinkedInJobPostings\dataset\companies\companies.csv
C:\LinkedInJobPostings\dataset\companies\company_industries.csv
C:\LinkedInJobPostings\dataset\companies\company_specialities.csv
C:\LinkedInJobPostings\dataset\companies\employee_counts.csv
C:\LinkedInJobPostings\dataset\jobs\benefits.csv
C:\LinkedInJobPostings\dataset\jobs\job_industries.csv
C:\LinkedInJobPostings\dataset\jobs\job_skills.csv
C:\LinkedInJobPostings\dataset\jobs\salaries.csv
C:\LinkedInJobPostings\dataset\mappings\industries.csv
C:\LinkedInJobPostings\dataset\mappings\skills.csv

In [8]:
# Paths to individual CSV files
datasets = {
    'postings': os.path.join(download_path, 'postings.csv'),
    'companies': os.path.join(download_path, 'companies', 'companies.csv'),
    'company_industries': os.path.join(download_path, 'companies', 'company_industries.csv'),
    'job_skills': os.path.join(download_path, 'jobs', 'job_skills.csv'),
    'skills': os.path.join(download_path, 'mappings', 'skills.csv')
}

In [9]:
# Load each CSV file into a pandas DataFrame
dataframes = {name: pd.read_csv(path) for name, path in datasets.items()}

# Function to print head, describe, info, and shape
def print_dataframe_info(df, name):
    print(f"Dataset: {name}")
    print("\nHead:")
    print(df.head(), "\n")
    print("Describe:")
    print(df.describe(), "\n")
    print("Info:")
    df.info()
    print("\nShape:")
    print(df.shape, "\n")
    print("="*80 + "\n")

    

# Print information for each DataFrame
for name, df in dataframes.items():
    print_dataframe_info(df, name)

Dataset: postings

Head:
     job_id            company_name  \
0    921716   Corcoran Sawyer Smith
1   1829192                     NaN
2  10998357  The National Exemplar
3  23221523  Abrams Fensterman, LLP
4  35982263                     NaN

                                               title  \
0                              Marketing Coordinator
1                  Mental Health Therapist/Counselor
2                        Assitant Restaurant Manager
3  Senior Elder Law / Trusts and Estates Associat...
4                                 Service Technician

                                         description  max_salary pay_period  \
0  Job descriptionA leading real estate firm in N...        20.0     HOURLY
1  At Aspen Therapy and Wellness , we are committ...        50.0     HOURLY
2  The National Exemplar is accepting application...     65000.0     YEARLY
3  Senior Associate Attorney - Elder Law / Trusts...    175000.0     YEARLY
4  Looking for HVAC service tech with experience ...     80000.0     YEARLY

            location  company_id  views  med_salary  ...        expiry  \
0      Princeton, NJ   2774458.0   20.0         NaN  ...  1.715990e+12
1   Fort Collins, CO         NaN    1.0         NaN  ...  1.715450e+12
2     Cincinnati, OH  64896719.0    8.0         NaN  ...  1.715870e+12
3  New Hyde Park, NY    766262.0   16.0         NaN  ...  1.715488e+12
4     Burlington, IA         NaN    3.0         NaN  ...  1.716044e+12

  closed_time  formatted_experience_level  \
0         NaN                         NaN
1         NaN                         NaN
2         NaN                         NaN
3         NaN                         NaN
4         NaN                         NaN

                                         skills_desc   listed_time  \
0  Requirements: \n\nWe are seeking a College or ...  1.713398e+12
1                                                NaN  1.712858e+12
2  We are currently accepting resumes for FOH - A...  1.713278e+12
3  This position requires a baseline understandin...  1.712896e+12
4                                                NaN  1.713452e+12

  posting_domain sponsored  work_type  currency  compensation_type
0            NaN         0  FULL_TIME       USD        BASE_SALARY
1            NaN         0  FULL_TIME       USD        BASE_SALARY
2            NaN         0  FULL_TIME       USD        BASE_SALARY
3            NaN         0  FULL_TIME       USD        BASE_SALARY
4            NaN         0  FULL_TIME       USD        BASE_SALARY

[5 rows x 28 columns]

Describe:
             job_id    max_salary    company_id          views     med_salary  \
count  1.238490e+05  2.979300e+04  1.221320e+05  122160.000000    6280.000000
mean   3.896402e+09  9.193942e+04  1.220401e+07      14.618247   22015.619876
std    8.404355e+07  7.011101e+05  2.554143e+07      85.903598   52255.873846
min    9.217160e+05  1.000000e+00  1.009000e+03       1.000000       0.000000
25%    3.894587e+09  4.828000e+01  1.435200e+04       3.000000      18.940000
50%    3.901998e+09  8.000000e+04  2.269650e+05       4.000000      25.500000
75%    3.904707e+09  1.400000e+05  8.047188e+06       8.000000    2510.500000
max    3.906267e+09  1.200000e+08  1.034730e+08    9975.000000  750000.000000

         min_salary       applies  original_listed_time  remote_allowed  \
count  2.979300e+04  23320.000000          1.238490e+05         15246.0
mean   6.491085e+04     10.591981          1.713152e+12             1.0
std    4.959738e+05     29.047395          4.848209e+08             0.0
min    1.000000e+00      1.000000          1.701811e+12             1.0
25%    3.700000e+01      1.000000          1.712863e+12             1.0
50%    6.000000e+04      3.000000          1.713395e+12             1.0
75%    1.000000e+05      8.000000          1.713478e+12             1.0
max    8.500000e+07    967.000000          1.713573e+12             1.0

             expiry   closed_time   listed_time  sponsored
count  1.238490e+05  1.073000e+03  1.238490e+05   123849.0
mean   1.716213e+12  1.712928e+12  1.713204e+12        0.0
std    2.321394e+09  3.622893e+08  3.989122e+08        0.0
min    1.712903e+12  1.712346e+12  1.711317e+12        0.0
25%    1.715481e+12  1.712670e+12  1.712886e+12        0.0
50%    1.716042e+12  1.712670e+12  1.713408e+12        0.0
75%    1.716088e+12  1.713283e+12  1.713484e+12        0.0
max    1.729125e+12  1.713562e+12  1.713573e+12        0.0

Info:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 123849 entries, 0 to 123848
Data columns (total 28 columns):
 #   Column                      Non-Null Count   Dtype
---  ------                      --------------   -----
 0   job_id                      123849 non-null  int64
 1   company_name                122130 non-null  object
 2   title                       123849 non-null  object
 3   description                 123842 non-null  object
 4   max_salary                  29793 non-null   float64
 5   pay_period                  36073 non-null   object
 6   location                    123849 non-null  object
 7   company_id                  122132 non-null  float64
 8   views                       122160 non-null  float64
 9   med_salary                  6280 non-null    float64
 10  min_salary                  29793 non-null   float64
 11  formatted_work_type         123849 non-null  object
 12  applies                     23320 non-null   float64
 13  original_listed_time        123849 non-null  float64
 14  remote_allowed              15246 non-null   float64
 15  job_posting_url             123849 non-null  object
 16  application_url             87184 non-null   object
 17  application_type            123849 non-null  object
 18  expiry                      123849 non-null  float64
 19  closed_time                 1073 non-null    float64
 20  formatted_experience_level  94440 non-null   object
 21  skills_desc                 2439 non-null    object
 22  listed_time                 123849 non-null  float64
 23  posting_domain              83881 non-null   object
 24  sponsored                   123849 non-null  int64
 25  work_type                   123849 non-null  object
 26  currency                    36073 non-null   object
 27  compensation_type           36073 non-null   object
dtypes: float64(11), int64(2), object(15)
memory usage: 26.5+ MB

Shape:
(123849, 28)

================================================================================

Dataset: companies

Head:
   company_id                        name  \
0        1009                         IBM
1        1016               GE HealthCare
2        1025  Hewlett Packard Enterprise
3        1028                      Oracle
4        1033                   Accenture

                                         description  company_size  state  \
0  At IBM, we do more than work. We create. We cr...           7.0     NY
1  Every day millions of people feel the impact o...           7.0      0
2  Official LinkedIn of Hewlett Packard Enterpris...           7.0  Texas
3  We’re a cloud technology company that provides...           7.0  Texas
4  Accenture is a leading global professional ser...           7.0      0

  country              city zip_code                                address  \
0      US  Armonk, New York    10504  International Business Machines Corp.
1      US           Chicago        0                                      -
2      US           Houston    77389            1701 E Mossy Oaks Rd Spring
3      US            Austin    78741                        2300 Oracle Way
4      IE          Dublin 2        0                    Grand Canal Harbour

                                                 url
0               https://www.linkedin.com/company/ibm
1      https://www.linkedin.com/company/gehealthcare
2  https://www.linkedin.com/company/hewlett-packa...
3            https://www.linkedin.com/company/oracle
4         https://www.linkedin.com/company/accenture

Describe:
         company_id  company_size
count  2.447300e+04  21699.000000
mean   2.052239e+07      3.349233
std    3.165929e+07      1.904503
min    1.009000e+03      1.000000
25%    1.654040e+05      2.000000
50%    2.738154e+06      3.000000
75%    2.624142e+07      5.000000
max    1.034730e+08      7.000000

Info:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 24473 entries, 0 to 24472
Data columns (total 10 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   company_id    24473 non-null  int64
 1   name          24472 non-null  object
 2   description   24176 non-null  object
 3   company_size  21699 non-null  float64
 4   state         24451 non-null  object
 5   country       24473 non-null  object
 6   city          24472 non-null  object
 7   zip_code      24445 non-null  object
 8   address       24451 non-null  object
 9   url           24473 non-null  object
dtypes: float64(1), int64(1), object(8)
memory usage: 1.9+ MB

Shape:
(24473, 10)

================================================================================

Dataset: company_industries

Head:
   company_id                        industry
0      391906  Book and Periodical Publishing
1    22292832                    Construction
2       20300                         Banking
3     3570660  Book and Periodical Publishing
4      878353         Staffing and Recruiting

Describe:
         company_id
count  2.437500e+04
mean   2.038566e+07
std    3.158083e+07
min    1.009000e+03
25%    1.652215e+05
50%    2.708302e+06
75%    2.503948e+07
max    1.034730e+08

Info:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 24375 entries, 0 to 24374
Data columns (total 2 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   company_id  24375 non-null  int64
 1   industry    24375 non-null  object
dtypes: int64(1), object(1)
memory usage: 381.0+ KB

Shape:
(24375, 2)

================================================================================

Dataset: job_skills

Head:
       job_id skill_abr
0  3884428798      MRKT
1  3884428798        PR
2  3884428798       WRT
3  3887473071      SALE
4  3887465684       FIN

Describe:
             job_id
count  2.137680e+05
mean   3.896849e+09
std    7.834902e+07
min    9.217160e+05
25%    3.894661e+09
50%    3.902323e+09
75%    3.904715e+09
max    3.906267e+09

Info:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 213768 entries, 0 to 213767
Data columns (total 2 columns):
 #   Column     Non-Null Count   Dtype
---  ------     --------------   -----
 0   job_id     213768 non-null  int64
 1   skill_abr  213768 non-null  object
dtypes: int64(1), object(1)
memory usage: 3.3+ MB

Shape:
(213768, 2)

================================================================================

Dataset: skills

Head:
  skill_abr          skill_name
0       ART        Art/Creative
1      DSGN              Design
2      ADVR         Advertising
3      PRDM  Product Management
4      DIST        Distribution

Describe:
       skill_abr    skill_name
count         35            35
unique        35            35
top          ART  Art/Creative
freq           1             1

Info:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 35 entries, 0 to 34
Data columns (total 2 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   skill_abr   35 non-null     object
 1   skill_name  35 non-null     object
dtypes: object(2)
memory usage: 692.0+ bytes

Shape:
(35, 2)

================================================================================

# DATA PREPROCESSING

In [10]:
# Function to find and print missing values
def find_missing_values(dataframes):
    for name, df in dataframes.items():
        print(f"Missing values in {name}:")
        print(df.isnull().sum())
        print("="*80 + "\n")

# Find and print missing values
find_missing_values(dataframes)

Missing values in postings:
job_id                             0
company_name                    1719
title                              0
description                        7
max_salary                     94056
pay_period                     87776
location                           0
company_id                      1717
views                           1689
med_salary                    117569
min_salary                     94056
formatted_work_type                0
applies                       100529
original_listed_time               0
remote_allowed                108603
job_posting_url                    0
application_url                36665
application_type                   0
expiry                             0
closed_time                   122776
formatted_experience_level     29409
skills_desc                   121410
listed_time                        0
posting_domain                 39968
sponsored                          0
work_type                          0
currency                       87776
compensation_type              87776
dtype: int64
================================================================================

Missing values in companies:
company_id         0
name               1
description      297
company_size    2774
state             22
country            0
city               1
zip_code          28
address           22
url                0
dtype: int64
================================================================================

Missing values in company_industries:
company_id    0
industry      0
dtype: int64
================================================================================

Missing values in job_skills:
job_id       0
skill_abr    0
dtype: int64
================================================================================

Missing values in skills:
skill_abr     0
skill_name    0
dtype: int64
================================================================================

In [11]:
#handling missing values
companies = dataframes['companies']
postings = dataframes['postings']
# Drop the irrelevant columns from the companies DataFrame
companies = companies.drop(columns=['zip_code', 'address'])
# Drop rows with any missing values in the companies DataFrame
companies = companies.dropna()
# Handle missing values in the postings dataset
postings = dataframes['postings'].copy()
postings = postings.dropna(subset=['company_name'])
postings['description'] = postings['description'].fillna('No description available')
postings['max_salary'] = postings['max_salary'].fillna(postings['max_salary'].median())
postings['med_salary'] = postings['med_salary'].fillna(postings['med_salary'].median())
postings['min_salary'] = postings['min_salary'].fillna(postings['min_salary'].median())
postings['pay_period'] = postings['pay_period'].fillna(postings['pay_period'].mode()[0])
postings = postings.dropna(subset=['company_id'])
postings['views'] = postings['views'].fillna(postings['views'].median())
postings['applies'] = postings['applies'].fillna(postings['applies'].median())
postings['remote_allowed'] = postings['remote_allowed'].fillna(postings['remote_allowed'].mode()[0])
postings['application_url'] = postings['application_url'].fillna('No application URL')
postings['formatted_experience_level'] = postings['formatted_experience_level'].fillna(postings['formatted_experience_level'].mode()[0])
postings['skills_desc'] = postings['skills_desc'].fillna('No skills listed')
postings['posting_domain'] = postings['posting_domain'].fillna('No domain')
postings['currency'] = postings['currency'].fillna(postings['currency'].mode()[0])
postings['compensation_type'] = postings['compensation_type'].fillna(postings['compensation_type'].mode()[0])

In [12]:
# Print the head of the cleaned companies DataFrame
print("Cleaned Companies DataFrame:")
print(companies.head())

# Print the head of the cleaned postings DataFrame
print("\nCleaned Postings DataFrame:")
print(postings.head())

Cleaned Companies DataFrame:
   company_id                        name  \
0        1009                         IBM
1        1016               GE HealthCare
2        1025  Hewlett Packard Enterprise
3        1028                      Oracle
4        1033                   Accenture

                                         description  company_size  state  \
0  At IBM, we do more than work. We create. We cr...           7.0     NY
1  Every day millions of people feel the impact o...           7.0      0
2  Official LinkedIn of Hewlett Packard Enterpris...           7.0  Texas
3  We’re a cloud technology company that provides...           7.0  Texas
4  Accenture is a leading global professional ser...           7.0      0

  country              city                                                url
0      US  Armonk, New York               https://www.linkedin.com/company/ibm
1      US           Chicago      https://www.linkedin.com/company/gehealthcare
2      US           Houston  https://www.linkedin.com/company/hewlett-packa...
3      US            Austin            https://www.linkedin.com/company/oracle
4      IE          Dublin 2         https://www.linkedin.com/company/accenture

Cleaned Postings DataFrame:
      job_id               company_name  \
0     921716      Corcoran Sawyer Smith
2   10998357     The National Exemplar
3   23221523     Abrams Fensterman, LLP
5   91700727  Downtown Raleigh Alliance
6  103254301                 Raw Cereal

                                               title  \
0                              Marketing Coordinator
2                        Assitant Restaurant Manager
3  Senior Elder Law / Trusts and Estates Associat...
5           Economic Development and Planning Intern
6                                           Producer

                                         description  max_salary pay_period  \
0  Job descriptionA leading real estate firm in N...        20.0     HOURLY
2  The National Exemplar is accepting application...     65000.0     YEARLY
3  Senior Associate Attorney - Elder Law / Trusts...    175000.0     YEARLY
5  Job summary:The Economic Development & Plannin...        20.0     HOURLY
6  Company DescriptionRaw Cereal is a creative de...    300000.0     YEARLY

            location  company_id  views  med_salary  ...        expiry  \
0      Princeton, NJ   2774458.0   20.0       25.37  ...  1.715990e+12
2     Cincinnati, OH  64896719.0    8.0       25.37  ...  1.715870e+12
3  New Hyde Park, NY    766262.0   16.0       25.37  ...  1.715488e+12
5        Raleigh, NC   1481176.0    9.0       25.37  ...  1.716048e+12
6      United States  81942316.0    7.0       25.37  ...  1.715453e+12

  closed_time  formatted_experience_level  \
0         NaN            Mid-Senior level
2         NaN            Mid-Senior level
3         NaN            Mid-Senior level
5         NaN            Mid-Senior level
6         NaN            Mid-Senior level

                                         skills_desc   listed_time  \
0  Requirements: \n\nWe are seeking a College or ...  1.713398e+12
2  We are currently accepting resumes for FOH - A...  1.713278e+12
3  This position requires a baseline understandin...  1.712896e+12
5                                   No skills listed  1.713456e+12
6                                   No skills listed  1.712861e+12

  posting_domain sponsored   work_type  currency  compensation_type
0      No domain         0   FULL_TIME       USD        BASE_SALARY
2      No domain         0   FULL_TIME       USD        BASE_SALARY
3      No domain         0   FULL_TIME       USD        BASE_SALARY
5      No domain         0  INTERNSHIP       USD        BASE_SALARY
6      No domain         0    CONTRACT       USD        BASE_SALARY

[5 rows x 28 columns]

In [13]:
# Merge postings with companies on company_id
merged_df = postings.merge(companies, on='company_id', how='left')

# Merge the result with company_industries on company_id
merged_df = merged_df.merge(dataframes['company_industries'], on='company_id', how='left')

# Merge job_skills with skills on skill_abr
job_skills_combined_df = dataframes['job_skills'].merge(dataframes['skills'], on='skill_abr', how='left')

# Merge the main DataFrame with the combined job skills and skills DataFrame on job_id
final_df = merged_df.merge(job_skills_combined_df, on='job_id', how='left')

# Print the head of the final merged DataFrame
print("\nFinal Merged DataFrame Head:")
print(final_df.head())

Final Merged DataFrame Head:
     job_id            company_name  \
0    921716   Corcoran Sawyer Smith
1    921716   Corcoran Sawyer Smith
2  10998357  The National Exemplar
3  10998357  The National Exemplar
4  23221523  Abrams Fensterman, LLP

                                               title  \
0                              Marketing Coordinator
1                              Marketing Coordinator
2                        Assitant Restaurant Manager
3                        Assitant Restaurant Manager
4  Senior Elder Law / Trusts and Estates Associat...

                                       description_x  max_salary pay_period  \
0  Job descriptionA leading real estate firm in N...        20.0     HOURLY
1  Job descriptionA leading real estate firm in N...        20.0     HOURLY
2  The National Exemplar is accepting application...     65000.0     YEARLY
3  The National Exemplar is accepting application...     65000.0     YEARLY
4  Senior Associate Attorney - Elder Law / Trusts...    175000.0     YEARLY

            location  company_id  views  med_salary  ...  \
0      Princeton, NJ   2774458.0   20.0       25.37  ...
1      Princeton, NJ   2774458.0   20.0       25.37  ...
2     Cincinnati, OH  64896719.0    8.0       25.37  ...
3     Cincinnati, OH  64896719.0    8.0       25.37  ...
4  New Hyde Park, NY    766262.0   16.0       25.37  ...

                     name                                      description_y  \
0   Corcoran Sawyer Smith  With years of experience helping local buyers ...
1   Corcoran Sawyer Smith  With years of experience helping local buyers ...
2  The National Exemplar   In April of 1983, The National Exemplar began ...
3  The National Exemplar   In April of 1983, The National Exemplar began ...
4  Abrams Fensterman, LLP  Abrams Fensterman, LLP is a full-service law f...

   company_size     state  country          city  \
0           2.0        NJ       US   Jersey City
1           2.0        NJ       US   Jersey City
2           1.0      Ohio       US     Mariemont
3           1.0      Ohio       US     Mariemont
4           2.0  New York       US  Lake Success

                                                 url      industry  skill_abr  \
0  https://www.linkedin.com/company/corcoran-sawy...   Real Estate       MRKT
1  https://www.linkedin.com/company/corcoran-sawy...   Real Estate       SALE
2  https://www.linkedin.com/company/the-national-...   Restaurants       MGMT
3  https://www.linkedin.com/company/the-national-...   Restaurants       MNFC
4  https://www.linkedin.com/company/abrams-fenste...  Law Practice       OTHR

      skill_name
0      Marketing
1          Sales
2     Management
3  Manufacturing
4          Other

[5 rows x 38 columns]

In [15]:
# Calculate the average salary
final_df['avg_salary'] = final_df[['max_salary','med_salary', 'min_salary']].mean(axis=1)

# Drop the max_salary, min_salary, and med_salary columns
final_df = final_df.drop(columns=['max_salary', 'min_salary', 'med_salary'])

# Print the head of the updated DataFrame to verify
print(final_df.head())

     job_id            company_name  \
0    921716   Corcoran Sawyer Smith
1    921716   Corcoran Sawyer Smith
2  10998357  The National Exemplar
3  10998357  The National Exemplar
4  23221523  Abrams Fensterman, LLP

                                               title  \
0                              Marketing Coordinator
1                              Marketing Coordinator
2                        Assitant Restaurant Manager
3                        Assitant Restaurant Manager
4  Senior Elder Law / Trusts and Estates Associat...

                                       description_x pay_period  \
0  Job descriptionA leading real estate firm in N...     HOURLY
1  Job descriptionA leading real estate firm in N...     HOURLY
2  The National Exemplar is accepting application...     YEARLY
3  The National Exemplar is accepting application...     YEARLY
4  Senior Associate Attorney - Elder Law / Trusts...     YEARLY

            location  company_id  views formatted_work_type  applies  ...  \
0      Princeton, NJ   2774458.0   20.0           Full-time      2.0  ...
1      Princeton, NJ   2774458.0   20.0           Full-time      2.0  ...
2     Cincinnati, OH  64896719.0    8.0           Full-time      3.0  ...
3     Cincinnati, OH  64896719.0    8.0           Full-time      3.0  ...
4  New Hyde Park, NY    766262.0   16.0           Full-time      3.0  ...

                                       description_y  company_size     state  \
0  With years of experience helping local buyers ...           2.0        NJ
1  With years of experience helping local buyers ...           2.0        NJ
2  In April of 1983, The National Exemplar began ...           1.0      Ohio
3  In April of 1983, The National Exemplar began ...           1.0      Ohio
4  Abrams Fensterman, LLP is a full-service law f...           2.0  New York

  country          city                                                url  \
0      US   Jersey City  https://www.linkedin.com/company/corcoran-sawy...
1      US   Jersey City  https://www.linkedin.com/company/corcoran-sawy...
2      US     Mariemont  https://www.linkedin.com/company/the-national-...
3      US     Mariemont  https://www.linkedin.com/company/the-national-...
4      US  Lake Success  https://www.linkedin.com/company/abrams-fenste...

       industry skill_abr     skill_name     avg_salary
0   Real Estate      MRKT      Marketing      20.790000
1   Real Estate      SALE          Sales      20.790000
2   Restaurants      MGMT     Management   36675.123333
3   Restaurants      MNFC  Manufacturing   36675.123333
4  Law Practice      OTHR          Other  105008.456667

[5 rows x 36 columns]

In [16]:
# Dropping unnecessary columns
final_df = final_df.drop(columns=['work_type', 'original_listed_time'])

In [17]:
# Check for missing values in the DataFrame
missing_values = final_df.isnull().sum()

# Print the columns with missing values
print("Missing values in each column:")
print(missing_values[missing_values > 0])

Missing values in each column:
closed_time      203536
name              10093
description_y     10093
company_size      10093
state             10093
country           10093
city              10093
url               10093
industry            267
skill_abr          1541
skill_name         1541
dtype: int64

In [18]:
# Drop the specified columns
final_df = final_df.drop(columns=['name', 'description_y', 'company_size', 'state', 'country', 'city', 'url', 'industry'])
final_df['closed_time'] = final_df['closed_time'].fillna(-1)
final_df['skill_abr'] = final_df['skill_abr'].fillna('Unknown Skill')
final_df['skill_name'] = final_df['skill_name'].fillna('Unknown Skill')
# Check for any remaining missing values
missing_values = final_df.isnull().sum()
print("Remaining missing values in the DataFrame:")
print(missing_values[missing_values > 0])

Remaining missing values in the DataFrame:
Series([], dtype: int64)

In [19]:
print(final_df.columns)

Index(['job_id', 'company_name', 'title', 'description_x', 'pay_period',
       'location', 'company_id', 'views', 'formatted_work_type', 'applies',
       'remote_allowed', 'job_posting_url', 'application_url',
       'application_type', 'expiry', 'closed_time',
       'formatted_experience_level', 'skills_desc', 'listed_time',
       'posting_domain', 'sponsored', 'currency', 'compensation_type',
       'skill_abr', 'skill_name', 'avg_salary'],
      dtype='object')

In [20]:
# Save the cleaned dataset to a CSV file
final_df.to_csv('cleaned_data.csv', index=False)