In [93]:
import pandas as pd
import numpy as np
import nltk
from nltk.corpus import stopwords
from nltk.tokenize import word_tokenize
from nltk.stem import WordNetLemmatizer
import spacy

In [94]:
# Download NLTK data files
nltk.download('punkt')
nltk.download('stopwords')
nltk.download('wordnet')

# Load spaCy model
nlp = spacy.load('en_core_web_sm')

[nltk_data] Downloading package punkt to
[nltk_data]     C:\Users\beema\AppData\Roaming\nltk_data...
[nltk_data]   Package punkt is already up-to-date!
[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\beema\AppData\Roaming\nltk_data...
[nltk_data]   Package stopwords is already up-to-date!
[nltk_data] Downloading package wordnet to
[nltk_data]     C:\Users\beema\AppData\Roaming\nltk_data...
[nltk_data]   Package wordnet is already up-to-date!

In [95]:
# Load the datasets
datasets = {
    'companies': pd.read_csv(r'C:\Users\beema\Downloads\Linkedindataset\companies\companies.csv'),
    'company_industries':  pd.read_csv(r'C:\Users\beema\Downloads\Linkedindataset\companies\company_industries.csv'),
    'company_specialities':  pd.read_csv(r'C:\Users\beema\Downloads\Linkedindataset\companies\company_specialities.csv'),
    'employee_counts':  pd.read_csv(r'C:\Users\beema\Downloads\Linkedindataset\companies\employee_counts.csv'),
    'benefits':  pd.read_csv(r'C:\Users\beema\Downloads\Linkedindataset\jobs\benefits.csv'),
    'job_industries':  pd.read_csv(r'C:\Users\beema\Downloads\Linkedindataset\jobs\job_industries.csv'),
    'job_skills': pd.read_csv(r'C:\Users\beema\Downloads\Linkedindataset\jobs\job_skills.csv'),
    'salaries':  pd.read_csv(r'C:\Users\beema\Downloads\Linkedindataset\jobs\salaries.csv'),
    'industries':  pd.read_csv(r'C:\Users\beema\Downloads\Linkedindataset\mappings\industries.csv'),
    'skills':  pd.read_csv(r'C:\Users\beema\Downloads\Linkedindataset\mappings\skills.csv'),
    'postings':  pd.read_csv(r'C:\Users\beema\Downloads\Linkedindataset\postings.csv')
}

In [96]:
# Display info and first few rows of all DataFrames
for name, df in datasets.items():
    print(f"Dataset: {name}")
    print(df.info(), '\n')
    print(df.head(), '\n')
    print('-' * 80)

Dataset: companies
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 24473 entries, 0 to 24472
Data columns (total 10 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   company_id    24473 non-null  int64
 1   name          24472 non-null  object
 2   description   24176 non-null  object
 3   company_size  21699 non-null  float64
 4   state         24451 non-null  object
 5   country       24473 non-null  object
 6   city          24472 non-null  object
 7   zip_code      24445 non-null  object
 8   address       24451 non-null  object
 9   url           24473 non-null  object
dtypes: float64(1), int64(1), object(8)
memory usage: 1.9+ MB
None

   company_id                        name  \
0        1009                         IBM
1        1016               GE HealthCare
2        1025  Hewlett Packard Enterprise
3        1028                      Oracle
4        1033                   Accenture

                                         description  company_size  state  \
0  At IBM, we do more than work. We create. We cr...           7.0     NY
1  Every day millions of people feel the impact o...           7.0      0
2  Official LinkedIn of Hewlett Packard Enterpris...           7.0  Texas
3  Weâ€™re a cloud technology company that provides...           7.0  Texas
4  Accenture is a leading global professional ser...           7.0      0

  country              city zip_code                                address  \
0      US  Armonk, New York    10504  International Business Machines Corp.
1      US           Chicago        0                                      -
2      US           Houston    77389            1701 E Mossy Oaks Rd Spring
3      US            Austin    78741                        2300 Oracle Way
4      IE          Dublin 2        0                    Grand Canal Harbour

                                                 url
0               https://www.linkedin.com/company/ibm
1      https://www.linkedin.com/company/gehealthcare
2  https://www.linkedin.com/company/hewlett-packa...
3            https://www.linkedin.com/company/oracle
4         https://www.linkedin.com/company/accenture

--------------------------------------------------------------------------------
Dataset: company_industries
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 24375 entries, 0 to 24374
Data columns (total 2 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   company_id  24375 non-null  int64
 1   industry    24375 non-null  object
dtypes: int64(1), object(1)
memory usage: 381.0+ KB
None

   company_id                        industry
0      391906  Book and Periodical Publishing
1    22292832                    Construction
2       20300                         Banking
3     3570660  Book and Periodical Publishing
4      878353         Staffing and Recruiting

--------------------------------------------------------------------------------
Dataset: company_specialities
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 169387 entries, 0 to 169386
Data columns (total 2 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   company_id  169387 non-null  int64
 1   speciality  169387 non-null  object
dtypes: int64(1), object(1)
memory usage: 2.6+ MB
None

   company_id              speciality
0    22292832      window replacement
1    22292832  patio door replacement
2       20300      Commercial Banking
3       20300          Retail Banking
4       20300                Mortgage

--------------------------------------------------------------------------------
Dataset: employee_counts
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 35787 entries, 0 to 35786
Data columns (total 4 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   company_id      35787 non-null  int64
 1   employee_count  35787 non-null  int64
 2   follower_count  35787 non-null  int64
 3   time_recorded   35787 non-null  int64
dtypes: int64(4)
memory usage: 1.1 MB
None

   company_id  employee_count  follower_count  time_recorded
0      391906             186           32508     1712346173
1    22292832             311            4471     1712346173
2       20300            1053            6554     1712346173
3     3570660             383           35241     1712346173
4      878353              52           26397     1712346173

--------------------------------------------------------------------------------
Dataset: benefits
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 67943 entries, 0 to 67942
Data columns (total 3 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   job_id    67943 non-null  int64
 1   inferred  67943 non-null  int64
 2   type      67943 non-null  object
dtypes: int64(2), object(1)
memory usage: 1.6+ MB
None

       job_id  inferred                     type
0  3887473071         0        Medical insurance
1  3887473071         0         Vision insurance
2  3887473071         0         Dental insurance
3  3887473071         0                   401(k)
4  3887473071         0  Student loan assistance

--------------------------------------------------------------------------------
Dataset: job_industries
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 164808 entries, 0 to 164807
Data columns (total 2 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   job_id       164808 non-null  int64
 1   industry_id  164808 non-null  int64
dtypes: int64(2)
memory usage: 2.5 MB
None

       job_id  industry_id
0  3884428798           82
1  3887473071           48
2  3887465684           41
3  3887467939           82
4  3887467939           80

--------------------------------------------------------------------------------
Dataset: job_skills
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 213768 entries, 0 to 213767
Data columns (total 2 columns):
 #   Column     Non-Null Count   Dtype
---  ------     --------------   -----
 0   job_id     213768 non-null  int64
 1   skill_abr  213768 non-null  object
dtypes: int64(1), object(1)
memory usage: 3.3+ MB
None

       job_id skill_abr
0  3884428798      MRKT
1  3884428798        PR
2  3884428798       WRT
3  3887473071      SALE
4  3887465684       FIN

--------------------------------------------------------------------------------
Dataset: salaries
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 40785 entries, 0 to 40784
Data columns (total 8 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   salary_id          40785 non-null  int64
 1   job_id             40785 non-null  int64
 2   max_salary         33947 non-null  float64
 3   med_salary         6838 non-null   float64
 4   min_salary         33947 non-null  float64
 5   pay_period         40785 non-null  object
 6   currency           40785 non-null  object
 7   compensation_type  40785 non-null  object
dtypes: float64(3), int64(2), object(3)
memory usage: 2.5+ MB
None

   salary_id      job_id  max_salary  med_salary  min_salary pay_period  \
0          1  3884428798         NaN        20.0         NaN     HOURLY
1          2  3887470552        25.0         NaN        23.0     HOURLY
2          3  3884431523    120000.0         NaN    100000.0     YEARLY
3          4  3884911725    200000.0         NaN     10000.0     YEARLY
4          5  3887473220        35.0         NaN        33.0     HOURLY

  currency compensation_type
0      USD       BASE_SALARY
1      USD       BASE_SALARY
2      USD       BASE_SALARY
3      USD       BASE_SALARY
4      USD       BASE_SALARY

--------------------------------------------------------------------------------
Dataset: industries
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 422 entries, 0 to 421
Data columns (total 2 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   industry_id    422 non-null    int64
 1   industry_name  388 non-null    object
dtypes: int64(1), object(1)
memory usage: 6.7+ KB
None

   industry_id                         industry_name
0            1       Defense and Space Manufacturing
1            3       Computer Hardware Manufacturing
2            4                  Software Development
3            5          Computer Networking Products
4            6  Technology, Information and Internet

--------------------------------------------------------------------------------
Dataset: skills
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 35 entries, 0 to 34
Data columns (total 2 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   skill_abr   35 non-null     object
 1   skill_name  35 non-null     object
dtypes: object(2)
memory usage: 692.0+ bytes
None

  skill_abr          skill_name
0       ART        Art/Creative
1      DSGN              Design
2      ADVR         Advertising
3      PRDM  Product Management
4      DIST        Distribution

--------------------------------------------------------------------------------
Dataset: postings
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 123849 entries, 0 to 123848
Data columns (total 28 columns):
 #   Column                      Non-Null Count   Dtype
---  ------                      --------------   -----
 0   job_id                      123849 non-null  int64
 1   company_name                122130 non-null  object
 2   title                       123849 non-null  object
 3   description                 123842 non-null  object
 4   max_salary                  29793 non-null   float64
 5   pay_period                  36073 non-null   object
 6   location                    123849 non-null  object
 7   company_id                  122132 non-null  float64
 8   views                       122160 non-null  float64
 9   med_salary                  6280 non-null    float64
 10  min_salary                  29793 non-null   float64
 11  formatted_work_type         123849 non-null  object
 12  applies                     23320 non-null   float64
 13  original_listed_time        123849 non-null  float64
 14  remote_allowed              15246 non-null   float64
 15  job_posting_url             123849 non-null  object
 16  application_url             87184 non-null   object
 17  application_type            123849 non-null  object
 18  expiry                      123849 non-null  float64
 19  closed_time                 1073 non-null    float64
 20  formatted_experience_level  94440 non-null   object
 21  skills_desc                 2439 non-null    object
 22  listed_time                 123849 non-null  float64
 23  posting_domain              83881 non-null   object
 24  sponsored                   123849 non-null  int64
 25  work_type                   123849 non-null  object
 26  currency                    36073 non-null   object
 27  compensation_type           36073 non-null   object
dtypes: float64(11), int64(2), object(15)
memory usage: 26.5+ MB
None

     job_id            company_name  \
0    921716   Corcoran Sawyer Smith
1   1829192                     NaN
2  10998357  The National Exemplar
3  23221523  Abrams Fensterman, LLP
4  35982263                     NaN

                                               title  \
0                              Marketing Coordinator
1                  Mental Health Therapist/Counselor
2                        Assitant Restaurant Manager
3  Senior Elder Law / Trusts and Estates Associat...
4                                 Service Technician

                                         description  max_salary pay_period  \
0  Job descriptionA leading real estate firm in N...        20.0     HOURLY
1  At Aspen Therapy and Wellness , we are committ...        50.0     HOURLY
2  The National Exemplar is accepting application...     65000.0     YEARLY
3  Senior Associate Attorney - Elder Law / Trusts...    175000.0     YEARLY
4  Looking for HVAC service tech with experience ...     80000.0     YEARLY

            location  company_id  views  med_salary  ...        expiry  \
0      Princeton, NJ   2774458.0   20.0         NaN  ...  1.715990e+12
1   Fort Collins, CO         NaN    1.0         NaN  ...  1.715450e+12
2     Cincinnati, OH  64896719.0    8.0         NaN  ...  1.715870e+12
3  New Hyde Park, NY    766262.0   16.0         NaN  ...  1.715488e+12
4     Burlington, IA         NaN    3.0         NaN  ...  1.716044e+12

  closed_time  formatted_experience_level  \
0         NaN                         NaN
1         NaN                         NaN
2         NaN                         NaN
3         NaN                         NaN
4         NaN                         NaN

                                         skills_desc   listed_time  \
0  Requirements: \n\nWe are seeking a College or ...  1.713398e+12
1                                                NaN  1.712858e+12
2  We are currently accepting resumes for FOH - A...  1.713278e+12
3  This position requires a baseline understandin...  1.712896e+12
4                                                NaN  1.713452e+12

  posting_domain sponsored  work_type  currency  compensation_type
0            NaN         0  FULL_TIME       USD        BASE_SALARY
1            NaN         0  FULL_TIME       USD        BASE_SALARY
2            NaN         0  FULL_TIME       USD        BASE_SALARY
3            NaN         0  FULL_TIME       USD        BASE_SALARY
4            NaN         0  FULL_TIME       USD        BASE_SALARY

[5 rows x 28 columns]

--------------------------------------------------------------------------------

In [97]:
# Find missing values
def find_missing_values(df):
    return df.isnull().sum()

# Check for missing values in each dataset
for name, df in datasets.items():
    print(f"Missing values in {name}:")
    print(find_missing_values(df))
    print()

Missing values in companies:
company_id         0
name               1
description      297
company_size    2774
state             22
country            0
city               1
zip_code          28
address           22
url                0
dtype: int64

Missing values in company_industries:
company_id    0
industry      0
dtype: int64

Missing values in company_specialities:
company_id    0
speciality    0
dtype: int64

Missing values in employee_counts:
company_id        0
employee_count    0
follower_count    0
time_recorded     0
dtype: int64

Missing values in benefits:
job_id      0
inferred    0
type        0
dtype: int64

Missing values in job_industries:
job_id         0
industry_id    0
dtype: int64

Missing values in job_skills:
job_id       0
skill_abr    0
dtype: int64

Missing values in salaries:
salary_id                0
job_id                   0
max_salary            6838
med_salary           33947
min_salary            6838
pay_period               0
currency                 0
compensation_type        0
dtype: int64

Missing values in industries:
industry_id       0
industry_name    34
dtype: int64

Missing values in skills:
skill_abr     0
skill_name    0
dtype: int64

Missing values in postings:
job_id                             0
company_name                    1719
title                              0
description                        7
max_salary                     94056
pay_period                     87776
location                           0
company_id                      1717
views                           1689
med_salary                    117569
min_salary                     94056
formatted_work_type                0
applies                       100529
original_listed_time               0
remote_allowed                108603
job_posting_url                    0
application_url                36665
application_type                   0
expiry                             0
closed_time                   122776
formatted_experience_level     29409
skills_desc                   121410
listed_time                        0
posting_domain                 39968
sponsored                          0
work_type                          0
currency                       87776
compensation_type              87776
dtype: int64

companies have missing values in 7 columns name, description, company_size, state, city, zip_code, address
salaries have missing values in 3: max_salary, med_salary, min_salary
industries have missing values in industry_name    
postings have missing values in 17 columns

In [98]:
# Handle missing values in companies dataset
companies = datasets['companies']
companies['name'].fillna('Unknown', inplace=True)
companies['description'].fillna('', inplace=True)
companies['company_size'].fillna(companies['company_size'].median(), inplace=True)
companies.dropna(subset=['state'], inplace=True)
companies.dropna(subset=['city'], inplace=True)
companies.dropna(subset=['zip_code'], inplace=True)
companies['address'].fillna('Unknown', inplace=True)

# Handle missing values in salaries dataset
salaries = datasets['salaries']
salaries['max_salary'].fillna(salaries['max_salary'].mean(), inplace=True)
salaries['min_salary'].fillna(salaries['min_salary'].mean(), inplace=True)
salaries.drop(columns=['med_salary'], inplace=True)

# Handle missing values in industries dataset
industries = datasets['industries']
industries.dropna(subset=['industry_name'], inplace=True)

# Handle missing values in postings dataset
postings = datasets['postings']
postings['company_name'].fillna('Unknown', inplace=True)
postings['description'].fillna('', inplace=True)
postings['max_salary'].fillna(postings['max_salary'].mean(), inplace=True)
postings['min_salary'].fillna(postings['min_salary'].mean(), inplace=True)
postings['pay_period'].fillna(postings['pay_period'].mode()[0], inplace=True)
postings['currency'].fillna(postings['currency'].mode()[0], inplace=True)
postings['compensation_type'].fillna(postings['compensation_type'].mode()[0], inplace=True)
postings.dropna(subset=['company_id'], inplace=True)
postings['views'].fillna(0, inplace=True)
postings.drop(columns=['med_salary'], inplace=True)
postings['applies'].fillna(0, inplace=True)
postings['remote_allowed'].fillna(0, inplace=True)
postings['application_url'].fillna('Unknown', inplace=True)
postings.drop(columns=['closed_time'], inplace=True)
postings['formatted_experience_level'].fillna(postings['formatted_experience_level'].mode()[0], inplace=True)
postings['skills_desc'].fillna('', inplace=True)
postings['posting_domain'].fillna('Unknown', inplace=True)

# Confirm changes
for name, df in datasets.items():
    print(f"Missing values in {name}:")
    print(df.isnull().sum())
    print()

Missing values in companies:
company_id      0
name            0
description     0
company_size    0
state           0
country         0
city            0
zip_code        0
address         0
url             0
dtype: int64

Missing values in company_industries:
company_id    0
industry      0
dtype: int64

Missing values in company_specialities:
company_id    0
speciality    0
dtype: int64

Missing values in employee_counts:
company_id        0
employee_count    0
follower_count    0
time_recorded     0
dtype: int64

Missing values in benefits:
job_id      0
inferred    0
type        0
dtype: int64

Missing values in job_industries:
job_id         0
industry_id    0
dtype: int64

Missing values in job_skills:
job_id       0
skill_abr    0
dtype: int64

Missing values in salaries:
salary_id            0
job_id               0
max_salary           0
min_salary           0
pay_period           0
currency             0
compensation_type    0
dtype: int64

Missing values in industries:
industry_id      0
industry_name    0
dtype: int64

Missing values in skills:
skill_abr     0
skill_name    0
dtype: int64

Missing values in postings:
job_id                        0
company_name                  0
title                         0
description                   0
max_salary                    0
pay_period                    0
location                      0
company_id                    0
views                         0
min_salary                    0
formatted_work_type           0
applies                       0
original_listed_time          0
remote_allowed                0
job_posting_url               0
application_url               0
application_type              0
expiry                        0
formatted_experience_level    0
skills_desc                   0
listed_time                   0
posting_domain                0
sponsored                     0
work_type                     0
currency                      0
compensation_type             0
dtype: int64

In [92]:
# Define function for text preprocessing
def preprocess_text(text):
    # Tokenize the text
    tokens = word_tokenize(text.lower())
    
    # Remove stopwords and non-alphanumeric tokens
    stop_words = set(stopwords.words('english'))
    tokens = [token for token in tokens if token.isalnum() and token not in stop_words]
    
    # Lemmatize tokens
    lemmatizer = WordNetLemmatizer()
    tokens = [lemmatizer.lemmatize(token) for token in tokens]
    
    return ' '.join(tokens)

# Apply the preprocessing function to the relevant text columns in datasets
datasets['companies']['description'] = datasets['companies']['description'].apply(preprocess_text)
datasets['postings']['description'] = datasets['postings']['description'].apply(preprocess_text)

In [99]:
# Merge company_industries with companies
company_industries = datasets['company_industries']
companies = datasets['companies'].merge(company_industries, on='company_id', how='left')

# Merge company_specialities with companies
company_specialities = datasets['company_specialities']
companies = companies.merge(company_specialities, on='company_id', how='left')

# Merge employee_counts with companies
employee_counts = datasets['employee_counts']
companies = companies.merge(employee_counts, on='company_id', how='left')

# Update the datasets dictionary
datasets['companies'] = companies

In [100]:
# Merge job_industries with postings
job_industries = datasets['job_industries']
postings = datasets['postings'].merge(job_industries, on='job_id', how='left')

# Merge job_skills with postings
job_skills = datasets['job_skills']
postings = postings.merge(job_skills, on='job_id', how='left')

# Merge salaries with postings
salaries = datasets['salaries']
postings = postings.merge(salaries, on='job_id', how='left')

# Merge benefits with postings
benefits = datasets['benefits']
postings = postings.merge(benefits, on='job_id', how='left')

# Update the datasets dictionary
datasets['postings'] = postings

In [102]:
from sklearn.preprocessing import LabelEncoder, StandardScaler

# Encode Categorical Variables
label_encoders = {}

# Encode categorical columns in companies dataset
for column in ['name', 'description', 'state', 'country', 'city', 'address']:
    if column in companies.columns:
        le = LabelEncoder()
        companies[column] = le.fit_transform(companies[column])
        label_encoders[column] = le

# Encode categorical columns in company_industries dataset
for column in ['industry']:
    if column in company_industries.columns:
        le = LabelEncoder()
        company_industries[column] = le.fit_transform(company_industries[column])
        label_encoders[column] = le

# Encode categorical columns in skills dataset
for column in ['skill_name']:
    if column in skills.columns:
        le = LabelEncoder()
        skills[column] = le.fit_transform(skills[column])
        label_encoders[column] = le

# Encode categorical columns in industries dataset
for column in ['industry_name']:
    if column in industries.columns:
        le = LabelEncoder()
        industries[column] = le.fit_transform(industries[column])
        label_encoders[column] = le

# Encode categorical columns in postings dataset
for column in ['company_name', 'title', 'description', 'pay_period', 'location', 'formatted_experience_level', 'skills_desc', 'posting_domain', 'compensation_type']:
    if column in postings.columns:
        le = LabelEncoder()
        postings[column] = le.fit_transform(postings[column])
        label_encoders[column] = le

In [103]:
# Feature Engineering: Extract job location features from address
if 'state' in companies.columns and 'city' in companies.columns:
    companies['location'] = companies['state'].astype(str) + '_' + companies['city'].astype(str)
    le = LabelEncoder()
    companies['location'] = le.fit_transform(companies['location'])
    label_encoders['location'] = le

In [104]:
# Scale Numerical Features
scaler = StandardScaler()

# Scale numerical columns in companies dataset
if 'company_size' in companies.columns:
    companies[['company_size']] = scaler.fit_transform(companies[['company_size']])

# Scale numerical columns in postings dataset
for column in ['max_salary', 'min_salary', 'views', 'applies']:
    if column in postings.columns:
        postings[[column]] = scaler.fit_transform(postings[[column]])